@import "normalize";
@import "theme";

* {
  margin: 0;
  padding: 0;
  background-color: $color-accent;
}

body {
  margin-left: calc(100vw - 100%);
}

ul li {
  list-style: none;
}

hr {
  display: block;
  border: 0;
  border-top: 1px solid $color-accent-dark;
}

%mask {
  background: rgba(0, 0, 0, .5);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 50;
}

.mask {
  @extend %mask;
  position: fixed;
}

.region-mask {
  @extend %mask;
  background: rgba(0, 0, 0, .2);
  position: absolute;

  &--transparent {
    background: #ff000000;
  }
}
