@import "normalize";
@import "theme";

* {
  margin: 0;
  padding: 0;
  background-color: $color-accent;
}

body {
  margin-left: calc(100vw - 100%);
}

ul li {
  list-style: none;
}

hr {
  display: block;
  border: 0;
  border-top: 1px solid $color-accent-dark;
}