$header-height: 50px;
$border-radius: 16px;

$screen-sm-min: 576px;  // small tablets and large smart phones (landscape view)
$screen-md-min: 768px;  // small tablets (portrait view)
$screen-lg-min: 992px;  // tablets and small desktops
$screen-xl-min: 1200px; // large tablets and desktops
