@import "theme";
@import "dimens";

@mixin sm($always, $conditional) {
  #{$always} {
    @content;
  }
  @media (min-width: #{$screen-sm-min}) {
    #{$conditional} {
      @content;
    }
  }
}

@mixin md($always, $conditional) {
  #{$always} {
    @content;
  }
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

@mixin lg($always, $conditional) {
  #{$always} {
    @content;
  }
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

@mixin xl($always, $conditional) {
  #{$always} {
    @content;
  }
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}

%center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

%scrollbar {
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: $text-color-secondary-light3;
  }

  &::-webkit-scrollbar-thumb {
    background: $text-color-secondary-light2;
    border-radius: 8px;

    @include sm("&:active", "&:hover") {
      background: $text-color-secondary-light
    }
  }
}

%word-break {
  word-break: break-word;
  overflow-wrap: break-word;
  word-wrap: break-word;
}


%dialog {
  @extend %center;
  width: 90%;
  min-width: 300px;
  max-width: 450px;
  border-radius: $border-radius;
  box-sizing: border-box;
}

%icon {
  width: 24px;
  height: 24px;
  padding: 8px;
  margin-right: 8px;
  border-radius: 50%;

  @include sm("&:active", "&:hover") {
    cursor: pointer;
    background-color: $text-color-secondary-light2;
  }
}

%width-limit {
  margin: 0 auto;
  max-width: 750px;
}
