@import "theme";
@import "dimens";

%center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

%scrollbar {
  &::-webkit-scrollbar {
    width: 8px;
    background-color: $text-color-secondary-light3;
  }

  &::-webkit-scrollbar-thumb {
    background: $text-color-secondary-light2;
    border-radius: 8px;

    &:hover {
      background: $text-color-secondary-light
    }
  }

  //TODO: IE
}

%word-break {
  word-break: break-word;
  overflow-wrap: break-word;
  word-wrap: break-word;
}


%dialog {
  @extend %center;
  width: 90%;
  min-width: 300px;
  max-width: 450px;
  border-radius: $border-radius;
  position: relative;
  box-sizing: border-box;
}
