$color-accent: #f7f2ee;
$color-accent-dark: #eee6e1;
$color-background: #f7f2ee;
$color-background-dark: #eee6e1;
//$color-on-accent:;
//$color-image-placeholder:;
//$color-text-clickable:;
$text-color-primary: black;
$text-color-primary-light: #424242;
$text-color-secondary: #757575;
$text-color-secondary-light: #bdbdbd;
$text-color-secondary-light2: #e0e0e0;
$text-color-secondary-light3: #eeeeee;
//$color-placeholder:;
$color-line: #bdbdbd;

$color-error: #e57373;
$color-success: #81c784;
